#Carpetas ignoradas
Curso_De_Ingreso/
Logica_y_Estructura/
# Ignorar caché de Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar archivos de entorno virtual si usás venv
env/
venv/

# Ignorar archivos de logs y temporales
*.log
*.tmp
*.swp

# Ignorar carpetas específicas que no quieras subir
base_de_datos/

# Ignorar archivos de VS Code (opcionales)
.vscode/
*.code-workspace

# Otros posibles archivos de sistema
.DS_Store
Thumbs.db
